.card {
    border-radius: 15px;
}

.card>* {
    margin-bottom: 1rem;
}

.card-icon {
    margin-bottom: 0.5rem;
    font-size: 35px;
}
.job-content{
    padding: 0 2rem;
    margin-bottom: 5rem;
}
.card-wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0px 0px 15px 16px;
    -webkit-border-radius: 0px 0px 15px 16px;
    -moz-border-radius: 0px 0px 15px 16px;
}

.card-bg {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -20px;
    height: 0%;
    background-color: var(--orangeBackGround);
    border-radius: 0px 0px 15px 16px;
    -webkit-border-radius: 0px 0px 15px 16px;
    -moz-border-radius: 0px 0px 15px 16px;
    transition: 0.5s;
}

.card-wrapper:hover .card-bg {

    height: 8%;
    transition: 0.5s;
    border-radius: 0px 0px 15px 16px;
    -webkit-border-radius: 0px 0px 15px 16px;
    -moz-border-radius: 0px 0px 15px 16px;
}
.Marketing-icon{
    /* display:flex;
    align-items:center;
    justify-content:center; */
    /* background-color: gainsboro; */
    /* padding: 1rem; */
    color: rgb(44, 241, 14);
}
.seo-icon{
    /* display:flex;
    align-items:center;
    justify-content:center; */
    /* background-color: gainsboro; */
    /* padding: 1rem; */
    color: rgb(101, 43, 249);
}
.ui-icon{
    /* display:flex;
    align-items:center;
    justify-content:center; */
    /* background-color: gainsboro; */
    /* padding: 1rem; */
    color: var(--orangeBackGround);
}
.web-icon{
    /* display:flex;
    align-items:center;
    justify-content:center; */
    /* background-color: gainsboro; */
    /* padding: 1rem; */
    color: rgb(73, 176, 255);
}
@media screen and (max-width: 400px) {
    .job-content{
        padding: 0;
        margin-bottom: 5rem;
    }
}
@media screen and (max-width: 1200px){
    .job-content{
        padding: 0 2rem;
        margin-bottom: 3rem;
    }
}